
DerivedData*
imageProcessor.xcodeproj/xcuserdata/vitya.xcuserdatad/*
DerivedData/ImageProcessor/Index/UniDB/ImageProcessor.xcindex/v8/p17541/data.mdb
DerivedData/ImageProcessor/Index/UniDB/ImageProcessor.xcindex/v8/p17541/lock.mdb
